[2010-06-17 10:52] luciditydigital opened #1 "Remote to local Upload"
on line 78 of lib/database.rb

<pre>
@cap.put output_file, remote_file
</pre>

should be:

<pre>
@cap.upload output_file, remote_file
</pre>

http://www.capify.org/index.php/Put
http://www.capify.org/index.php/Upload

Caused problems for me on capistrano v2.5.9

[2010-10-11 07:15] #1 closed, assigned to nobody

[2013-01-14 15:40] timkelty opened #6 "Create new DB if one doesn't exist"
It looks like you started this and commented it out.

It would be ideal if this created it via mysqladmin and not with rails/rake tasks, as I'm also using the tasks with PHP projects as well.

[2013-03-22 17:04] timkelty opened #8 "cap assets:push syncs files to current, replaces shared symlink"
When using `cap assets:push`, my assets are getting synced to my server into `current`, not `shared`.

`current/public/uploads/` is a symlink to `shared/public/uploads/`, but when I `cap assets:push`, it overwrites the symlink and syncs the folder directly in `current`.

My `deploy.rb` settings look like:
`set :assets_dir, %w(public/assets/uploads)`

[2013-08-30 09:06] danil-z opened #13 "postgres password and import errors"
1) pg_dump fails because no password
this fork bigfive/capistrano-db-tasks works well but i got

2)  on import errors
ERROR:  role "postgres" does not exist
ERROR:  role "postgres" does not exist
GRANT

[2013-09-25 13:22] jacquescrocker opened #16 "psych syntax error on db:pull"
using the latest version from git: 5ecffdba5d3da0a23556056d52c56c7f6b0f4f5b

[code]

My database.yml has ERB in it:

[code]

[2013-09-25 13:47] jacquescrocker opened #17 "`Remote::Base` initialize uses wrong environment"
https://github.com/sgruhier/capistrano-db-tasks/blob/master/lib/capistrano-db-tasks/database.rb#L64

notice it's using `@cap.local_rails_env.to_s`. I believe it should be using `@cap.rails_env.to_s` since thats the rails_env that's on the server. Changing it to this on my fork seemed to fix things.

[2013-10-25 13:32] skv-headless opened #18 "Add mongodb support."

[2013-12-01 01:26] mdpatrick opened #21 "Add support for capistrano 3"
Capistrano 2 is now considered 'legacy' and is tagged as such on the capistrano repo.

[2014-02-09 08:34] #21 closed, assigned to nobody

[2014-03-27 00:33] mdpatrick opened #25 "Postgresql db:push doesn't create tables"
Hey guys! Really glad this got updated for capistrano 3. Strangely, I've noticed that I have to run db migrations on my production server in order to get db:push. I would assume by the phrasing on the prompt that it would completely replace the database, but this doesn't appear to be the case.

I'll paste my error message below (pre-migration run):

[code]

I hope this is just a bug that can be fi

[2014-03-30 07:57] #25 closed, assigned to nobody

[2014-04-11 09:27] glesage opened #27 "undefined method `fetch'"
I'm getting a strange error that I cannot fix. I have a clean rails 4.0.3 app, just created, nothing else, just those gems in the Gemfile:

[code]

I run bundle install and when trying to run rails s or passenger+nginx I get the error above ):

With rails server:

[code]

With Passenger+Nginx:

[code]

Strangely, this only started happening on April 4th... when I attempted to use capistrano-db-tas

[2014-04-14 01:26] #27 closed, assigned to nobody

[2014-04-24 12:45] dfang opened #28 "cap staging db:push fails because of psql syntax(pid column not exists)"
first, the log

[code]

i've tried to login as same user,  copy these commands to psql console,
for this line: `SELECT pg_terminate_backend(pg_stat_activity.pid) FROM pg_stat_activity WHERE pg_stat_activity.datname = 'artoflife_production' AND pid <> pg_backend_pid();;`
i got this error,

[code]

[2014-05-03 00:25] brodock opened #30 "Speed improvements (db:pull/db:push)"
You can use bzcat instead of uncompressing the file, it will be faster (as will not require 2 steps and hd writes).

The command will look like: "bzcat dumpfile.bz2 | mysql -p -u user..."

[2014-05-20 13:48] dmitry opened #31 "Anonymize database dumps"
In my opinion there should be some options/DSL that will provide ability to anonymize production database and import data into the development machine with already anonymous data. For example, all the emails, phones and passwords should be anonymized, because they may be harmful or even stolen from the dev's computer.

I can implement it, but lets discuss the best practice approach.

[2014-05-24 05:24] ktaragorn opened #32 "Easy way to disable `production db:push`"
I realize that you have a prompt asking are you sure, but it would be nice to disable it outright, with a capistrano var or something

[2014-05-24 07:12] ktaragorn opened #33 "A relative `deploy_to` isnt supported. Bug?"
Hi, My `deploy_to` is at `~` on my machine and this isnt supported. I get the error talked about at http://stackoverflow.com/a/9669507/1520364 . I am not sure if this is a bug at your end or net-scp or sshkit.

The exact error i get is
`*** Net::SCP::Error Exception: SCP did not finish successfully (1): scp: ~/<app>/current/db/<db>_2014-05-24-150321.sql.bz2: No such file or directory`

It works if

[2014-05-24 07:22] ktaragorn opened #34 "Remote dump files (`.sql.bz2`) not cleared"
I understand that eventually these will dissapear with capistrano cleanup, but is there a reason these dump files arent cleared by the gem itself, I dont see an option in the README for this either

[2014-07-08 15:32] RStankov opened #39 "db:fetch"
Most of the time I want to fetch the production db, without overwriting my local db.

So I written a small task todo so:

[code]

[2014-07-09 13:06] sauliusgrigaitis opened #40 "Allow to specify 'postgres' user password"
My app database user is restricted user that can not drop or create databases, so `db:push` fails, because it tries to drop database on behalf of restricted user. I really don't want to change permissions for app database user, so I see two ways how to resolve it:
1. Allow to pass password for 'postgres' user, so dabatase create/drop will be run on behalf of 'postgres' user.
2. Truncate tables ins

[2014-07-29 14:49] ezilocchi opened #43 "pull sequences as part of db:pull task"
I'm wondering if there is anyway of pulling the sequences as part of the `bundle exec cap production db:pull`? Right now it's only pulling the schema and the rows on the tables.

[2014-09-08 11:07] ktaragorn opened #45 "If this gem is required, and `rails_env` is not specified, it defaults it to `production`. This breaks `cap staging XXX` silently.."
Capistrano 3 doesnt require us to set `rails_env`, so I havent set it. However on requiring this gem, it [auto sets that to production](https://github.com/sgruhier/capistrano-db-tasks/blob/master/lib/capistrano-db-tasks/dbtasks.rb#L6). Thus deploying to staging is now broken. This is handled by setting `rails_env` as specified in the todo.. but this should just not happen.. Silently breaking capis

[2014-09-08 11:14] ktaragorn opened #46 "Does not play nice with DATABASE_URL env var"
Active record recognizes `DATABASE_URL` env var and uses it instead of `database.yml`, however your gem doesnt. We are using the URL for RDS, setting it with dotenv, just fyi

[2014-09-11 17:01] sauliusgrigaitis opened #48 "GZip instead of BZip2"
Is there any reason why BZip2 is used without option to change compression? We use this gem heavily for larger databases and GZip would be much better option, because it compresses much faster.

[2014-11-26 20:32] yoshz opened #53 "Support for non Rails applications?"
I like the idea how this library works and would like to use it for my (php) applications.
However it seems primary focussed for Rail applications which I have no experience with. How could I make the sync tasks work for any other kind of application?

[2015-01-29 11:01] sauliusgrigaitis commented on #48
I'm not going to use BZip2 any more for db compression, so I just replaced it with GZip auliusgrigaitis/capistrano-db-tasks@f988c6514f9c7f6cbf213772db1d17402bd50ec4

[2015-02-02 19:50] donbobka commented on #46
:+1:

[2015-02-03 00:48] donbobka commented on #46
#54

[2015-02-17 22:06] numbata opened #56 "When there is a new version of gem?"
There is a lot of fixes after v0.3 version: https://github.com/sgruhier/capistrano-db-tasks/compare/v0.3...master

Some of fixes are very important for pg users.

[2015-02-17 22:16] numbata commented on #45
Fixed with https://github.com/sgruhier/capistrano-db-tasks/commit/481ef1aea286190300c5945a152606c177cc1697. Waiting for new version of gem.

[2015-02-24 12:29] PanfilovDenis commented on #56
:+1:  I need it too)

[2015-02-24 12:32] vdv73rus commented on #56
+

[2015-02-24 12:32] sitnikovme commented on #56
Agree. Can't wait when a new gem will be released. Please do it ASAP.

[2015-02-24 12:34] zzet commented on #56
:+1:

[2015-02-24 12:40] PlugIN73 commented on #56
:+1:

[2015-02-24 12:48] artempartos commented on #56
yep!
Do it, please!

[2015-02-24 12:52] zabolotnov87 commented on #56
:+1:

[2015-02-26 16:47] sgruhier commented on #56
Done
Very sorry about the delay
If anyone want to be a collaborator on this gem, you are more than welcome :)

[2015-02-26 16:48] #56 closed

[2015-02-26 20:32] numbata commented on #56
@sgruhier I want  :)

[2015-02-26 20:43] zzet commented on #56
@sgruhier thx!

[2015-03-03 07:51] sgruhier commented on #56
@numbata I added you as collaborator

[2015-03-24 21:16] hallmatt opened #57 "db:push fails silently"
I've pushed my db up using "cap staging db:push" to the staging server, and all the commands look as if they're succeeding, but it seems like it's failing silently, somewhere. When I run a rails console or go to the staging site, the data isn't uploaded. I also restarted the web service to see if that helped, but it did not. Any ideas? Here's the feedback I get when I run "cap staging db:push". An

[2015-03-29 07:39] markgandolfo opened #58 "DB user/pass not being loaded when using figaro"
my DB user/pass are not being loaded when using figaro, any thoughts?

[2015-04-22 10:49] numbata commented on #57
@hallmatt can you run `cap --backtrace staging db:push`?

[2015-04-27 10:17] numbata commented on #48
@sauliusgrigaitis @dmitry review please.

[2015-04-27 10:23] dmitry commented on #48
@numbata :+1: looks nice!

[2015-04-27 11:12] sauliusgrigaitis commented on #48
:+1:

[2015-04-27 12:00] numbata commented on #45
fixed in [v0.4](https://github.com/sgruhier/capistrano-db-tasks/tree/v0.4).

[2015-04-27 12:00] #45 closed

[2015-04-27 12:07] #31 closed

[2015-04-27 12:26] numbata commented on #58
duplicate of https://github.com/sgruhier/capistrano-db-tasks/issues/46

[2015-04-27 12:26] #58 closed

[2015-04-27 12:48] numbata commented on #32
-1 :)
I'm thinking it is "oversafing". You can't do "db:push", but you still can "ssh && rm -rf" on production :)
If someone doesn't read prompt asking and always answer "Yes" - it's looks like roulette game. The shotgun can shoot with "db:push" or with "rm -rf".

[2015-04-27 12:52] ktaragorn commented on #32
Its 2 characters to change push to pull.. whereas its a lot more to type ssh ... and rm -rf.. That isnt much of an arguement. I can by that arguement even prove that this gem is useless...

Anyway, this request isnt meant to be security in the system security sense.. but more from casual mistakes.

[2015-04-27 13:26] numbata commented on #32
I agree with you only if there aren't messages, warnings and prompts in this situation.
I don't say "it's a security issue", i think it's a problem of attention and careful to what developer enter to the console.
"ssh & rm-rf"  is only one example. There are a lot of examples with 2 characters steps from good to evil.  Like "oops, i pushed instead of pulling" with git.

[2015-04-27 13:50] ktaragorn commented on #32
I would say (I may be wrong) that you are much more likely to pull than push with this tool, which makes it reasonable to think that a push might be a mistake.

Whereas git push is more likely and less destructive. And github has a readonly mode...

[2015-04-27 14:47] PanfilovDenis commented on #32
@ktaragorn, I solve you problem!
https://gist.github.com/PanfilovDenis/8735df7a49cca6709348

copy with gist in you shell and use `ultra_safe_cap` as `cap` command. It's really very safe! :D

[2015-04-28 17:34] losadaem opened #60 "Not using :default_env options"
I've setting env PATH in the :default_env to point my pgsql binaries. The pg_dump command is executing on the server without these configs so pg_dump is not found. Can I workaround these in local without do any changes to my server configuration ?

[2015-05-04 16:03] sauliusgrigaitis commented on #57
Same here. You can reproduce by running ```db:push``` on PostgreSQL db with credentials that doesn't have permission to drop/create database. It fails silently without any notice even with ```--backtrace```

[2015-05-14 21:26] synth opened #61 "Allow directory for db file to be an option"
This should allow a user specified option on where the db dump file will be placed just like local_assets_dir option rather than the hard coded /db path.

[2015-05-21 13:57] Jesus commented on #32
I agree with @ktaragorn, this tool is often used for pulling the database. In most situations doing a push instead of a pull would have catastrophic consequences.

@IntractableQuery has already added a parameter `disallow_pushing` to tackle this problem, see commit ae25656. Looks like this has even been released already.

I'd even go further and set that setting to `true` by default. Otherwise, I

[2015-05-22 13:49] ThomasBush opened #63 "undefined method `fetch' for main:Object (NoMethodError)"
This is a recent development since I upgraded from ruby 2.2.0 to 2.2.2.  This occurs why I try to run any of the rails generators, specifically a migration is this instance.

/Users/Thomas/.rvm/gems/ruby-2.2.2@HexGen/gems/capistrano-db-tasks-0.4/lib/capistrano-db-tasks/dbtasks.rb:5:in `<top (required)>': undefined method `fetch' for main:Object (NoMethodError)

Any idea what could cause such an er

[2015-05-27 21:50] Jesus commented on #32
Looks like @r00k would agree: https://twitter.com/r00k/status/603659635220951040

[2015-05-30 07:42] sibsfinx commented on #32
As @Jesus pointed out, for capistrano 3 there's `disallow_pushing` option.
If you need the same for capistrano 2, check my fork https://github.com/sibsfinx/capistrano-db-tasks/tree/0.2.x
```gem 'capistrano-db-tasks', github: 'sibsfinx/capistrano-db-tasks', branch: '0.2.x', require: false```

[2015-06-08 12:10] Nimdis commented on #63
+1, caught the same error. it fires all the time, even when I start rails server. tried with ruby 4.1.2 and 4.2.1. any solutions?

[2015-07-14 03:36] TJM opened #66 "SSH Port from :ssh_options not being used"
It is not detecting the SSH port properly. It is trying to use port 22 instead of the one I have set in:

[code]

I asked about this in #capistrano IRC, but no one appeared to be awake :)

... also, shouldn't it try to find the `:primary` server? or not?

[2015-07-22 10:08] yfractal commented on #63
@ThomasBush  @Nimdis
Please try `gem 'capistrano-db-tasks', '~> 0.4', :require => false`

[2015-07-22 13:28] ThomasBush commented on #63
Perfect, this fixes everything for me!  Thanks!

[2015-07-22 13:28] #63 closed

[2015-07-23 02:13] lanxichan commented on #63
And you need to add  this in deploy.rb
[code]

[2015-07-23 22:48] numbata commented on #66
@TJM Is it only capistrano-db-tasks don't use SSH Port?

[2015-07-23 23:12] TJM commented on #66
That is the only thing I have found so far. It works fine if you specify the port on a per-server basis, but it doesn't inherit the "global" :ssh_options

[2015-07-24 12:05] numbata commented on #66
@TJM what version of capistrano do you use?

[2015-07-24 14:33] TJM commented on #66
@numbata: we have been using 3.4.0

[2015-09-05 11:49] drumaddict opened #68 "cap production assets:pull does not read user from Capistrano configuration."
gem attempts the connection
`opening connection using: ssh -p 22 -l  [SERVER IP ADDRESS] rsync --server --sender -vvlLogDtpre.iLs . /home/deploy/apps/brahma_demo/current/system`
However I have declared in capistrano configuration
`set :user, 'deploy'`
In ssh command, user 'deploy' should go after  -l switch...
Thanks in advance

[2015-09-06 10:39] drumaddict commented on #68
Um,seems like you need to specify the user in the server configurations in deploy.rb
`server  [HOSTNAME OR IP], user: 'deploy', port: 22, roles: [:web, :app, :db], primary: true`
I was missing the user: argument,thought that configuration whould read that from
`set :user, 'deploy'`

[2015-09-06 10:39] #68 closed

[2015-09-09 08:46] olegantonyan commented on #39
+1

[2015-09-09 22:02] #48 closed

[2015-09-10 15:19] numbata commented on #32
close this issue with solution:

[2015-09-10 15:19] #32 closed

[2015-09-14 11:26] maksimf commented on #18
:+1:

[2015-09-14 11:29] maksimf commented on #18
@sgruhier Are you interested in this? I can fork and send PR if you are.

[2015-09-14 11:33] numbata commented on #18
@maksimf don't ask, send PR :)

[2015-09-14 11:33] maksimf commented on #18
@numbata all right :)

[2015-09-29 08:34] mdebo commented on #18
+1

[2015-09-29 10:25] dmitry commented on #53
@yoshz you need to add `/config/database.yml` file, with some contents like:

[code]

In this case you will also need to set:

[code]

In your capistrano file.

[2015-10-11 13:27] karlingen opened #74 "db:pull without providing ENV password and username?"
In database.yml on my production server I define my database keys like this:

[code]
And when pulling the database to my local environment I need to do this:
[code]

Is there a way of letting `capistrano-db-tasks` to automatically pull the information from the `.rbenv-vars` located in the shared folder on the production folder? That is where I enter database credentials and environment variables s

[2015-10-12 07:51] numbata commented on #74
@karlingen Can you try pull database with this PR: https://github.com/sgruhier/capistrano-db-tasks/pull/70 ? Is it helpful?

[2015-10-12 07:57] karlingen commented on #74
@numbata Thanks for your reply. But unfortunately, it didn't work.

[2015-10-12 09:02] numbata commented on #74
@karlingen hmm. That's strange, because in PR #70 capistrano-db-tasks execute rails on remote server with all remote ENV variables to get remote database configuration ([this line](https://github.com/sgruhier/capistrano-db-tasks/pull/70/files#diff-76cbe7b64130ce04930572aaa5a463ccR111)).

Can i ask you to debug my PR and make sure, that `@config` contains your production database config [put `puts

[2015-10-12 09:24] karlingen commented on #74
@numbata It was my bad! I forgot to prefix it with `bundle exec`. Running `bundle exec cap production db:pull` worked but resulted in a different error:

[code]

I am running postgresql on both local and production server.

[2015-10-14 17:59] numbata commented on #74
@karlingen my fault - forgot to stringify keys of database config. fixed

[2015-10-15 07:00] karlingen commented on #74
Next error:
[code]

[2015-11-02 11:51] andreydeineko opened #78 "db_ignore_data_tables seem not to impact the dump"
I tried using the ```db_ignore_data_tables``` option as follows (in `config/deploy.rb`):
[code]
But it seem to still download the whole `versions` table with data.

Where am I wrong?
Stack: Rails 4.2.4, capistrano 3.0.0, capistrano-db-tasks 0.4.

[2015-11-02 12:26] numbata commented on #78
Do you use mysql or postgresql?

[2015-11-02 12:47] andreydeineko commented on #78
@numbata I am using MySQL

[2015-11-02 13:25] numbata commented on #78
@andreydeineko unfortunately, this option works only with postgresql now.
https://github.com/sgruhier/capistrano-db-tasks/blob/master/lib/capistrano-db-tasks/database.rb#L97

[2015-11-02 13:58] andreydeineko commented on #78
@numbata This is really unfortunate. Thanks for info!

Is it because making it available for MySQL is a problem or there is another reason this option does not work with MySQL?

[2015-11-02 14:20] numbata commented on #78
@andreydeineko  it is impossible for MySQL to do this in one dump command (like in PostgreSQL).
we should do something like:
`mysqldump --ignore-table=db_name.table_name db_name && mysqldump --no-data db_name table_name`. I don't know how to do this with current cap-db-tasks code easily.

[2015-11-27 20:44] ss44 commented on #39
+1

[2015-11-28 19:37] karlingen commented on #74
@numbata anything new here?

[2016-01-21 17:11] kiddrew opened #80 "NameError: uninitialized constant Rails"
Apologies if this is a n00b question (I'm a cap n00b), but I'm getting this error when trying to do a db:pull from production.  Any idea why?

[2016-02-11 14:57] kiddrew commented on #80
Here's a full trace:

[code]

[2016-02-11 15:03] kiddrew commented on #80
Never mind.  My fault.

[2016-02-11 15:03] #80 closed

[2016-02-11 16:09] kiddrew opened #83 "Empty dump file"
My db:pull seems to be completing correctly, but the dump file is empty.  Trace below:

[code]

[2016-02-11 16:13] kiddrew opened #84 "db:pull fails in Postgres if database with same name as current user does not exist"
The workaround for this is fairly simple, but it's an issue nonetheless.  If my local Postgres instance does not have a database with the same name as my current user, the `db:pull` command fails.  See below:

[code]

[2016-02-11 16:15] kiddrew commented on #84
The issue is this line:

[code]

[2016-02-13 15:50] streetlogics commented on #80
@kiddrew what was your issue?  I apparently am doing the same thing by triggering the same error but am not seeing anything wrong.

[2016-02-13 18:38] kiddrew commented on #80
I had a line in my db config that set the db name based on the app name.

[code]

The Rails constant apparently doesn't exist in the Capistrano scope.

[2016-02-13 20:06] streetlogics commented on #80
@kiddrew thanks for the reply!  I found a similar line almost exactly the same time as I saw this response after doing some debugging on my own fork.

[2016-02-16 17:37] zedtux opened #85 "Synchronize your local database using local file"
Given I have already pull my production db, and I only want to replace my local db using the dump file which is remaining in my `db/` folder.

We should be able to do something like the following:

[code]

[2016-03-09 17:38] ThomasBush commented on #74
@karlingen - This may be a moonshot, but does you database password happen to contain a single quote in it?

I use randomly generated pws for everything and this just occurred for me.  If this is the case the single quote ends the input of your pw (which is passed as a single quoted string) in the script line early causing weird errors.  I have to imagine this is a rare scenario, but figured it wa

[2016-03-10 07:03] karlingen commented on #74
Nice guess, but (un)fortunately we don't have any special characters in our
password.

[2016-04-06 17:55] introvert opened #86 "typo in the assets documentation: local_assets_dir"
According to the `asset.rb` where you have:

    system("rsync -a --del -L -K -vv --progress --rsh='ssh -p #{port}' ./#{dir} #{user}@#{server}:#{cap.current_path}/#{cap.fetch(:local_assets_dir)}")

The variable `local_assets_dir`expects a string, not an array like in the docs:

    set :local_assets_dir, %w(public/assets public/att)

Please fix it.

[2016-05-07 16:33] FUT commented on #83
@kiddrew You can try to ssh to the server and run `pg_dump ...` command there. This way you will get the errors. In my case I have:

[code]

[2016-05-27 06:42] Jesus commented on #78
Looks like this was fixed on 9e8e760afe2ee377b6be9ba1d4da90930f958253, the problem must be that you're using version 0.4 of capistrano-db-tasks.

But that's the latest version, @sgruhier would it be a good idea to publish 0.5 ?

[2016-08-20 14:32] #84 closed

[2016-08-25 15:57] sebweaver commented on #39
:+1:

[2016-09-15 20:28] numbata commented on #74
@karlingen is it actual for you? I make a lot of changes in PR #70. Can you check them?
Sorry for bump this necroissues 💀

[2016-10-04 20:29] numbata commented on #74
@karlingen PR #70 merged. Please, reopen this issue if you still have error.

[2016-10-04 20:29] #74 closed

[2016-10-07 10:30] numbata commented on #46
@ktaragorn @donbobka PR #70 merged into master. It should resolve your issue. Reopen this issue if not, please.

[2016-10-07 10:30] #46 closed

[2016-11-30 14:38] numbata commented on #61
Closed due #101

[2016-11-30 14:38] #61 closed

[2016-11-30 15:15] numbata commented on #13
Close due #20

[2016-11-30 15:15] #13 closed

[2016-12-01 17:32] slavajacobson opened #102 "NoMethodError: undefined method `info' for main:Object"
$ cap --backtrace production app:pull
[Deprecation Warning] git_strategy is deprecated and will be removed in Capistrano 3.7.0.
https://github.com/capistrano/capistrano/blob/master/UPGRADING-3.7.md
rvm 1.26.11 (latest) by Wayne E. Seguin <wayneeseguin@gmail.com>, Michal Papis <mpapis@gmail.com> [https://rvm.io/]
ruby-2.0.0-p643
ruby 2.0.0p451 (2014-02-24 revision 45167) [x86_64-linux]
cap aborted!

[2016-12-01 21:20] #102 closed

[2016-12-01 21:21] numbata commented on #102
@slavajacobson thanks for report

[2016-12-13 11:46] elthariel opened #103 "app:local:sync fails because logger is called outside of `on` block"
https://github.com/sgruhier/capistrano-db-tasks/blob/master/lib/capistrano-db-tasks/dbtasks.rb#L105 causes a new Database::Base object to be created outside of an `on` block, where the logger methods aren't available

[2016-12-14 10:46] map7 opened #104 "Net::SCP::Error: SCP No such file or directory"
When I run capistrano-db-tasks using capistrano 3.7.0 to pull my database with  'cap production db:pull --trace' I get the following error;

[code]

The work around is to set my db_dump_dir to "/tmp" instead of "./db" as it cannot find this. I would assume that this ./db directory should be relative to my Rails.root path on the production server but it doesn't seem to be working.

[2016-12-14 10:49] map7 opened #105 "undefined method `strftime' for "20161214104743":String"
When using capistrano-db-tasks with capistrano 3.7.0 on a ruby 2.2.5, with rails 3.0 I get the following error;

NoMethodError: undefined method `strftime' for "20161214104743":String
[code]

To get around this error I had to change the code in database.rb to

[code]

[2016-12-14 10:52] map7 opened #106 "undefined method `zone' for Time:Class"
I'm getting this error with the setup suggested in capistrano-db-tasks;

[code]

I had to add the following to my deploy.rb.
`require "active_support/all"`

This should be added to the readme or something as without this line it cannot find 'zone'.

[2016-12-14 11:24] tinynumbers opened #107 "NoMethodError: undefined method `zone' for Time:Class"
[code]

Happening in both master HEAD (07290e016) and the published 0.5 version of capistrano-db-tasks.

*versions:*
* ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]
* Rails 5.0.0.1
* Capistrano Version: 3.6.1 (Rake Version: 11.3.0)

[2016-12-14 11:35] map7 commented on #107
This is a duplicate of #106

[2016-12-14 20:36] #106 closed

[2016-12-14 21:15] numbata commented on #106
@map7 thanks for the report. Can you try new version? Is it resolve this issues in your case?

[2016-12-14 21:16] numbata commented on #107
@tinynumbers close this issue as duplicate of #106

[2016-12-14 21:16] #107 closed

[2016-12-14 22:21] map7 commented on #106
Yes this issue is fixed in 0.6

[2016-12-14 22:22] map7 commented on #105
Fixed in 0.6

[2016-12-14 22:22] #105 closed

[2016-12-14 22:23] map7 commented on #104
Still broken in 0.6

[2016-12-30 15:09] maxigs commented on #104
Just wanted to let you know that i had the same issue. Didn't look further in it as the workaround with the `tmp` directory worked fine.

[2017-01-02 00:50] stevenchanin opened #108 "SSHKit::Runner::ExecuteError "rails exit status: 127" in versions 0.5 and 0.6"
I recently upgraded from 0.4 to 0.6 and `cap production db:pull` no longer works. The problem seems to be in the code from PR #70 (it occurs in both 0.5 and 0.6, but 0.4 works fine) `capistrano-db-tasks-0.6/lib/capistrano-db-tasks/database.rb:111` when its trying to execute this command on the remote side:
[code]

I get an error:
[code]

My server is running RVM and (obviously) bundler, so I think

[2017-01-02 03:54] itolosa commented on #104
It worked fine by specifying the entire path:
`set :db_dump_dir, -> { File.join(current_path, 'db') }`

[2017-01-02 04:23] numbata commented on #103
@elthariel ping )

[2017-01-02 18:36] numbata commented on #104
@map7 do you have `_APP_PATH_/db` directory?
@itolosa can you check this branch https://github.com/numbata/capistrano-db-tasks/tree/issues/104/db_dump_dir_fix ?

[2017-01-02 19:13] itolosa commented on #104
@numbata I think the error here is to assume that `./` always points to the project directory, and I think is rancid to replace `./` to the `current_path`. Maybe a Readme update would be great to avoid more confusions

[2017-01-04 20:19] dmitry commented on #108
I can confirm the same issue.

[2017-01-05 14:45] numbata commented on #108
@stevenchanin or @dmitry can you show your `Capfile`?

[2017-01-05 16:46] stevenchanin commented on #108
@numbata -- adding the `set :rvm_map_bins` fixed the problem.

Yes. I use rvm locally and on the remote side.

I tested your proposal by:

1. add the `set :rvm_map_bins` to my deploy.rb
1. updating my Gemfile to use 0.6 instead of 0.4. Doing a bundle install. I was able to `db:pull` successfully.
1. delete my gemset and completely rebuild it (that ensured that I didn't even have a copy of 0.4 anym

[2017-01-05 16:51] stevenchanin opened #109 "Net::SCP failure when db_dump_dir is set"
I keep previous dumps around to allow reloading (e.g. `set :db_local_clean, false`). With version 0.4, the dumps went into my projects `./db` directory. With version 0.6, they were showing up in my project root. So I set `:db_dump_dir` as described in the README:
[code]

Now when I try to do a db:pull, I get a fatal error:
[code]

[2017-01-05 16:53] numbata commented on #108
@stevenchanin thanks! This situation occurred due capistrano-rvm gem don't wrap `rails` command ([prooflink](https://github.com/capistrano/rvm/blob/f32ea63a17e417f221a2ae4b41e4646f3a6ed8f0/lib/capistrano/tasks/rvm.rake#L53)) :(

[2017-01-05 16:54] numbata commented on #109
Close this issue due duplicate of #104

[2017-01-05 16:54] #109 closed

[2017-01-05 16:56] stevenchanin commented on #109
My bad. Sorry for not looking first.

[2017-01-05 17:02] stevenchanin commented on #108
Awesome debugging. That looks like it would have been hard to figure out. Nice work!

[2017-01-05 17:06] numbata commented on #108
@stevenchanin you should bump https://github.com/capistrano/rvm/pull/56 😆

[2017-01-06 20:18] numbata commented on #108
@stevenchanin @dmitry can i close this pr now?

[2017-01-06 20:47] dmitry commented on #108
@numbata thanks for your help. It works now.

[2017-01-06 20:48] stevenchanin commented on #108
@numbata -- yes! Thanks!

[2017-01-06 20:50] #108 closed

[2017-01-09 11:02] elthariel commented on #103
Nah, it's not fixed on the master branch, sorry :)

[2017-01-21 23:03] streetlogics opened #112 "NoMethodError: undefined method `[]' for nil:NilClass"
This commit introduced a new syntax for getting the remote login data: https://github.com/sgruhier/capistrano-db-tasks/commit/8808d0f434e36125a64cb755d21761962fd92c78

I have two projects that use this gem, updated both on the same day, same server environment (ruby 2.3.0), same server, etc...

One of the projects works fine.

The second project throws an error saying:

[code]

If a put a breakpoi

[2017-01-25 16:46] #53 closed

[2017-02-09 12:31] elnikov opened #113 "DB:pull 127 error"
Postgres datebase.

When
`gem 'capistrano-db-tasks', '0.6', require: false`

cap production db:pull error

[code]

when
`gem 'capistrano-db-tasks', '0.4', require: false`

it`s work fine.

[2017-02-15 12:06] Fercell commented on #113
I am having the same issue, this is what logs say:

`DEBUG [fc953976] Finished in 0.547 seconds with exit status 0 (successful).
  INFO Loading local database config
  INFO Loading local database config
  INFO Loading remote database config
 DEBUG [3b1a9656] Running if test ! -d /home/ubuntu/current; then echo "Directory does not exist '/home/ubuntu/current'" 1>&2; false; fi as $SERVER$
 DEBUG [3b

[2017-02-24 23:05] l0c0luke opened #114 "how do I pass credentials to pg_dump?"
I am trying to sync my local dev environment with my prod environment. i do not deploy as the database user so it keeps asking me for a pssword which doesnt seem to let me type anything.

looks like i need to supply credentials to pg_dump. I can see in database file that it uses the @config variable but I do not know how to set it. Can you help?

[2017-02-24 23:36] luizamboni commented on #113
i m too.
`Error running command (status=pid 5691 exit 1): /home/luiz/projects/exercicios_resolvidos5/bin/rails runner "puts '__CAPISTRANODB_CONFIG_BEGIN_FLAG__' + ActiveRecord::Base.connection.instance_variable_get(:@config).to_yaml + '__CAPISTRANODB_CONFIG_END_FLAG__'"`

**ruby**: 2.6
**rails**:  5.1
**capistrano-db-tasks**: 0.6

[2017-04-06 18:24] ezekg commented on #8
I know this is old, but the issue is still present. A workaround for this problem is to append your asset paths with a trailing slash which will cause the contents of the directory to be uploaded via `rsync` instead of overwriting the directory, e.g.

[code]

[2017-05-19 11:14] Znow commented on #113
I get the same error, is there any updates on when this is gonna be fixed?

[2017-05-26 23:24] synth opened #117 "Option to drop database before import"
The import cmd (at least for mysql) is

`mysql #{credentials} -D #{database} < #{file}`

which will result in the file being appended to the current database.

Is there an option to drop the database before import? If not, can there be?

[2017-06-29 17:35] impdesigns commented on #113
I'm also experiencing the same behavior. db:pull fails unless I force version 0.4.

For me at least, this didn't start happening until I updated to Capistrano 3.8.1. Having said that, I'm not exactly a ruby on rails guru and that might have not a damn thing to do with anything...

[2017-08-22 13:30] ezuk commented on #113
The fix above from @sauliusgrigaitis worked for me. Thank you!

[2017-09-14 18:45] codered commented on #113
Can we merge this into master and create a new release?

[2017-09-14 19:22] codered commented on #113
By the way, if you want to use the fix before they merge it into a release, you can do the following:

1. In command prompt type "which rails"
2. Change to the directory using the "cd" command.
3. There is a gem folder. Traverse the folder until you find database.rb. Copy paste the file from the fix into there. This will make it work, however, the solution is temporary.

[2017-09-30 12:31] oniram88 opened #118 "Note in Docs for use with capistrano-rvm"
if I will make it work with capistrano-rvm (I have lvm on deploy server) i must do append in my
deploy.rb or deploy/(production|staging|ecc).rb this setup:

`append :rvm_map_bins, 'rails' `

I'm the only?

[2018-01-26 22:00] ladykat opened #121 "istrano"

[2018-02-03 03:21] dongalor opened #122 "cap staging db:pull causes this problem :("
[code]

[2018-02-06 18:34] numbata commented on #122
Did you deploy rails app?

[2018-02-06 18:36] numbata commented on #121
What do you mean?

[2018-02-14 20:21] ali-sheiba commented on #122
I got the same issue

if you are using rvm in your server, add (`append :rvm_map_bins, 'rails'`) to `deploy.rb`. it works for me.

found it here #118

[2018-02-26 19:14] smtlaissezfaire commented on #113
I don't think the patch above works well, since it doesn't work in cases in which the db config can't easily been taken from database.yml (for instance, when database info is encrypted in secrets, etc).

For me, I ran into this one when using rvm.  Rvm wasn't loading with the 'rails' command, so it wasn't found.  Strange how it wasn't reporting anything out, though.

This fixed it for me:

`set :r

[2018-02-26 19:16] smtlaissezfaire commented on #113
See https://github.com/capistrano/rvm/pull/56

[2018-02-27 13:44] Kounts opened #124 "Serial id lost after db push"
We have a production and staging environment, we pulled our production database, ran migrations on local environment and then pushed database on staging.
One table created by one of the migrations seems to have lost it serial id when pushed in staging (table is working in local).

Id is now `id integer NOT NULL` and not `id integer NOT NULL DEFAULT nextval('motorbike_contract_request_details_id_se

[2018-02-27 22:42] numbata commented on #121
🤷‍♂️

[2018-02-27 22:42] #121 closed

[2018-02-27 22:53] numbata commented on #117
Unfortunately, there isn't an option to drop database for mysql now.

But I think I can do it. "pgsql import" command already try to drop database before import.

Also I saw case where mysql user hasn't "create database" permissions. And we should be careful in "drop database" implementation.

[2018-02-27 22:58] numbata commented on #112
@streetlogics what version of rails do your project use?

[2018-02-28 06:37] #85 closed

[2018-03-11 07:11] pasystem commented on #108
@numbata Thanks!

[2018-03-11 18:06] dmitry commented on #124
What database do you have PostgreSQL?

[2018-03-11 18:16] numbata commented on #124
@dmitry yes, it was PostgreSQL, cause "nextval()" used.

[2018-07-26 11:08] #39 closed

[2018-08-01 10:27] rystraum commented on #113
There are 2 issues here.

1) For those who are using capistrano-rvm, make sure that you've set: `set :rvm_map_bins, %w{gem rake ruby bundle rails}`

This enables capistrano-db-tasks to run rails runner using the bins provided by RVM.

2) For those who have things in the DB being loaded by Rails before running (eg. application settings saved in the DB, which doesn't exist yet, because you're trying

[2018-10-19 19:14] epipheus opened #125 "scp should happen before remote clean"
`set :db_remote_clean, true`

removes the db dump file before the scp happens.  That's a problem.

[2018-12-19 12:36] PragmaticEd opened #126 "Doesn't work on winows 10 sub-systems (/usr/bin/env: ‘ruby.exe’: No such file or directory)"
I'm using I'm using windows sub-system (bash - ubuntu 16.04 while i develop on windows 10 pc.
I don't use windows ruby version. Instead everything is ran "inside" bash.. That includes ruby (with rvm), MySql, Redis).

###### Note that i replaced sensitive info bellow with `<something>`.

So, when i ran `cap production app:local:sync`, i expect it to use rvm and ruby in it, not ruby.exe, wich error

[2019-04-09 17:10] gordonbisnor opened #127 "Strip adapter check?"
I noticed that the gem was failing for me with a particular application and I found that stripping whitespace from the adapter check fixed it for me:

[code]

Wondering if you thought that this was something worth considering as a PR.

Love the gem by the way, use it on pretty much every Rails application.

[2019-04-17 07:10] sgruhier commented on #127
sure!

[2019-04-21 11:51] abuhtoyarov commented on #83
I was helped by the update of the pg_dump utility. The version of the database server and pg_dump must match.

In my case, I had to execute the following command.

`sudo ln -s /usr/pgsql-10/bin/pg_dump /usr/bin/pg_dump --force`

[2019-12-09 23:20] kakra commented on #117
I don't think it should ever drop the database - it's too dangerous. The DB may have unrelated table data outside of the Rails model scope. The pros and cons of such a setup may be discussed elsewhere but for historic reasons I am running such a database with one project. You can instruct `mysqldump` to add `DROP TABLE IF EXISTS` during export instead. It should be much more safe. Also, it may be

[2019-12-09 23:50] kakra commented on #30
It should completely stop working with intermediate remote files at all. You can run `ssh -L127.33.0.6:3306:$DBHOST:$DBPORT` and connect mysqldump to the localhost instead: `mysqldump ... -h 127.33.0.6`. This would also eliminate the need for transferring the DB password over the wire and being logged plain text. I'm not sure if sshkit allows setting up port forwards, tho.

Storing a compressed lo

[2020-03-14 02:41] lanzhiheng opened #129 "Can not accept `db_dump_dir` configuration"
So strange. When I set the value of `db_dump_dir` to `./db`,  I alway got the error message.

[code]

Thinks that may be some bug in this repo.

I have checked this at the version of `v0.6` and master branch of this repo. both got the same error.

[2020-03-14 03:01] lanzhiheng opened #130 "Append the `db:download` task"
This is a very cool gem, thanks for the author. I think sometimes many people would like to just download the *.sql file from the remote database for backup and doesn't want to sync the local database. If we can provide an

[code]

task for finishing this job?

[2020-03-14 03:07] lanzhiheng commented on #127
I think so.

[2020-04-17 07:40] kleyy commented on #125
+1

[2021-09-22 09:39] kakra commented on #104
This even doesn't seem a problem due to a change in THIS repository. I upgraded some unrelated gems in the bundle when I suddenly got this error. I wasn't able to restore the previous behavior because I only discovered this problem later in development. But at least reverting capistrano itself to the last known working version didn't help, neither did reverting sshkit, net-scp, or capistrano-db-ta

[2022-02-01 09:14] dapi opened #133 "Multi database support is broken"
This commit breaks it https://github.com/sgruhier/capistrano-db-tasks/commit/6cae7ceada81035d3d422e7c413d3d8090edd45e

[2022-03-31 17:07] sgruhier opened #134 "Question to users"
Hi,
Sorry for that looooooong black out.
I don't use rails so much but I'd like to know if it make sense to make an update these days (from all PR)
Thanks

[2022-03-31 18:08] numbata commented on #134
@sgruhier hi,

Looks like the gem is still useful :) So, if you have a time, lets build a new version of this gem.
Or maybe I can join for this on next week.

[2022-04-01 14:56] sgruhier commented on #134
sounds good, any help is welcome

[2022-07-26 10:17] phoenixweiss commented on #129
Same problem